@using Departmanlar.Models;
@model List<personel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>ADI</th>
            <th>SOYAD</th>
            <th>SEHIR</th>
        </tr>
            @foreach (var x in Model)
            {
            <tr>
                <td>@x.perId</td>
                <td>@x.perAd</td>
                <td>@x.perSoyad</td>
                <td>@x.perSehir</td>
            </tr>

            }
    </table>
</div>