@{
    ViewData["Title"] = "YeniDepartman";
    Layout = "~/Views/Shared/_TextLayout.cshtml";
}

<h1>YeniDepartman</h1>
<hr />

<form method="post">
    <div class="mb-3">
        <label>Departman Adı:</label>
        <input name="BirimAd" class="form-control" />
    </div>
    <button class="btn btn-info">Departman Ekle</button>

</form>